
  input {
    display: block;
    min-width: 90%;
    /* margin: 1em; */
    padding: 1em;
    border-radius: 8px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    margin-top: 1%;
    margin-bottom: 5%;
  }
  
  input:hover {
    border-color: palevioletred;
  }

  label{
    font-family: 'nunito';
    font-weight: 400;
    font-size: 14px;
    color:#FFFFFF;

  }
  
  button {
    margin: 0.8em;
    padding: 1em;
    border: 1px solid #e4e6e8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease-in;
  }
  
  button:hover {
    background-color: palevioletred;
    color: white;
  }

  .terms{

    color: white;
    font-size: 0.875rem;
    font-weight: 400;
  }
  

  .chkBox{
    min-width: 0;
    margin-right: 2%;
  }

  .loginHere{
      cursor: pointer;
    font-family: 'nunito';
    font-weight: 800;
    font-size: 0.875rem;
color: #FFEE7A;
letter-spacing: 0.04em;
margin-left: 1%;
  }